body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px */
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-primary {
    font-size: 2rem;
    color: white;
    display: block;
    text-align: center;

    &--main {
        font-size: 4rem;
        font-weight: 400;
        letter-spacing: 3rem;
    }

    &--sub {
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1rem;
    }
}

.heading-secondary {
    letter-spacing: .2rem;
    margin: 0 5rem;

    &--main {
        margin-left: 3rem;
        font-size: 4rem;
        font-weight: 400;
    }

    &--sub {
        font-size: 2rem;
        font-weight: 700;
    }

}

.title {
    color: $color-yellow;
    margin-bottom: 4rem;

    &--main {
        display:block;
        font-style: italic;
        font-size: 15rem;
        font-weight: 900;
        letter-spacing: 2rem;
        text-align: center;
        text-shadow: 0 2rem 2rem rgba($color-black, 1);
        white-space: nowrap;

        animation: moveInLeft ease-out 1s 4s;
        animation-fill-mode: backwards;
    }

    &--sub {
        display:block;
        font-size: 4rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        margin-top: -7rem;
        text-shadow: 0 2rem 2rem rgba($color-black, 1);
        white-space: nowrap;

        animation: moveInLeft ease-out 1s 5s;
        animation-fill-mode: backwards;
    }

}