.book {
    width: 10vw;
    background-color: transparent;

    &__box {
        height:100%;
        overflow-x: scroll;
        background-color: $color-grey-light-2;
    }

    &__page {
        height: 100%;
        width: 40rem;
        padding: 4rem;
        display: inline-block;
        position: relative;
        margin-left: 10px;

        &--content {
            position: absolute;
            padding: 10px;
            background-color: rgba($color-white, 0.5);
            border-radius: 3px;
        }

        &--action {
            top: 4rem;
        }
    
        &--description {
            top: 10rem;
        }
    
        &--explanation {
            top: 15rem;
        }

    }

}