.btn {
    &,
    &:link,
    &:visited {
        height: 6rem;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        transition: all .2s;
        position: relative;
        // padding: 1.5rem 4rem;
        // border-radius: 10rem;
        // font-size: $default-font-size;
        border: none;
        cursor: pointer;
        color: black;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    // TYPE DE BOUTON

    &--primary {
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        font-size: $default-font-size;
    }

    &--secondary {
        padding: .5rem 2rem;
        border-radius: 5rem;
        font-size: 1.1rem;
    }

    &--tertiary {
        padding: .2rem 1rem;
        border-radius: 3rem;
        font-size: 1;
    }

     // ANIMATION

    &--animated-t {
        animation: moveInTop .5s ease-out 6s;
        animation-fill-mode: backwards;
    }
    
    &--animated-r {
        animation: moveInRight .5s ease-out 6s;
        animation-fill-mode: backwards;
    }

    &--animated-b {
        animation: moveInBottom .5s ease-out 6s;
        animation-fill-mode: backwards;
    }

    &--animated-l {
        animation: moveInLeft .5s ease-out 6s;
        animation-fill-mode: backwards;
    }

    // COLOR

    &--white {
        background-color: $color-white;
        $color: $color-black;
        &::after {
            background-color: $color-white;
            $color: $color-black;
        }
    }

    &--yellow {
        background-color: $color-yellow;
        $color: $color-black;
        box-shadow: 0 2rem 4rem rgba($color-black, .8);
        &::after {
            background-color: $color-yellow;
            color: $color-black;
        }
    }

}