.shell {
    width: 80%;
    margin: 0 auto;
}

.header {
    margin: 4rem 0;
    width: 100%;
    height: 15rem;
    background-color: $color-grey-dark-3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-auteur {
    margin: 4rem 0;
    width: 100%;
    height: 30rem;
    background-color: $color-grey-light-2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.section-lecteur {
    margin: 4rem 0;
    padding-left: 4rem;
    width: 100%;
    height: 30rem;
    background-color: $color-grey-light-2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}