{% extends 'layout/base.html.twig' %}

{% block content %}

    <header class="header">
        <div class="heading-primary">
            <h1 class="heading-primary--main">Création De Manuscrit</h1>
        </div>
    </header>

    {{ form }}

{% endblock %}
