{% extends 'layout/base.html.twig' %}

{% block content %}

    <header class="header">
        <div class="heading-primary">
            <h1 class="heading-primary--main">Création De Manuscrit</h1>
        </div>
    </header>
    
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}

    <button type="submit">Save</button>

    {{ form_end(form) }}

{% endblock %}
