.section-cover {
    height: 100vh;
    background-size: cover; // centrage
    background-position: bottom; // quand on zoom
    position: relative;
    background-color: $color-grey-dark-3;
    animation: bg-apparition ease-out 4s;
    box-shadow: 0 3rem 2rem rgba($color-black,.4);

    &__title-box { // le titre et le bouton
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.section-fourth-cover {
    background-color: #263238;
    color: #9e9e9e;
    text-align: left;
    padding: 10rem 30rem;
    > h2 {
        font-size: 5rem;
        font-weight:400;
        margin: 2rem auto;
    }
    > p {
        font-size: 3rem;
    }
}

.section-meta-story {
    background-color: #37474f;
    color: #9e9e9e;
    text-align: left;
    padding: 10rem 30rem;
    box-shadow: 0 -3rem 2rem rgba($color-black, .4), 
                0 3rem 2rem rgba($color-black, .4);
    > h2 {
        font-size: 5rem;
        font-weight:400;
        margin: 2rem auto;
    }
    > p {
        font-size: 3rem;
    }
}

.section-breadcrumb {

    .breadcrumb {
        margin: 1rem;

        &__line {
            width: 100%;
            display:flex;
            flex-direction: row;
            align-items: center;
            margin: 0 1rem 1rem 0;
        }

        &__svg {
            margin-right: 2rem;
        }

        &__act {
        }
        &__chapter {
        }
        &__scene {
        }
        &__cell {
        }

        &__list {
            width: 100%;
            list-style: none;
            display:flex;
            flex-direction: row;
        }

        &__item {
            display: inline-block;
            font-size: 3rem;
            font-weight:400;
            // margin: 2rem auto;
            margin-right: 4rem;
        }


    }


}



// .section-horizontal-reader {

// }

// .section-vertical-reader {

// }





.actes {
   
    &__section {
        width: 100%;
        background-color: $color-grey-light-2;
    }

    &__banner {
        width: 100%;
        background-color: $color-grey-dark-2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        font-weight: 400;
        color: white;
    }

}

.chapitres {

    &__section {
        width: 100%;
        background-color: $color-grey-light-2;
    }

    &__banner {
        width: 100%;
        background-color: $color-grey-dark-2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        font-weight: 400;
        color: white;
    }

}

.scenes {

    &__section {
        width: 100%;
        background-color: $color-grey-light-2;
    }

    &__banner {
        width: 100%;
        background-color: $color-grey-dark-2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        font-weight: 400;
        color: white;
    }

}


.cellules {
    
    &__section {
        width: 100%;
        background-color: $color-grey-light-2;
    }

    &__breadcrumb {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        padding-top: 1rem;
        padding-left: 4rem;
        padding-bottom: 2rem;
        overflow-x: scroll;

        &__item {
            height:1rem;
            min-width:1rem;
            max-width: 1rem;
            margin-right: 1rem;
            background-color: red;
        }
    }

    &__banner {
        width: 100%;
        background-color: $color-grey-dark-2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        font-weight: 400;
        color: white;
    }

}