<div class="navigation-admin">

    <nav class="navigation__nav">
        <ul class="navigation__list">
            <li class="navigation__item"><div class="navigation-admin__title">Dashboard :</div></li>
            <li class="navigation__item"><a href="{{ path('all_user') }}" class="navigation-admin__link">Gestion Users</a></li>
        </ul>
    </nav>

</div>