<div class="navigation">

    {# <div class="navigation__logo-box">
        <img src="" alt="Logo" class="navigation__logo">
    </div> #}

    <nav class="navigation__nav">
        <ul class="navigation__list">
            <li class="navigation__item"><a href="#" class="navigation__link">Home</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">Les manuscrits</a></li>
            {# <li class="navigation__item"><a href="#" class="navigation__link">Mes manuscrits</a></li> #}
            {# <li class="navigation__item"><a href="#" class="navigation__link">Les auteurs</a></li> #}
        </ul>
    </nav>

    {# Search #}

    {# Login / Sign in #}

</div>